body {
  font-family: "Droid Sans", sans-serif; }

header {
  background: url("/img/goaf.jpg") repeat-x top center;
  height: 542px; }

.btn-calltoaction {
  background: linear-gradient(to right, #4a90cc 0%, #4a90cc 30%, #285e8e 31.1%, #3276b1 31.2%, #3276b1 100%);
  border-color: #285e8e;
  color: white !important;
  outline: 0 none; }
  .btn-calltoaction:hover, .btn-calltoaction:focus, .btn-calltoaction:active {
    background: linear-gradient(to right, #4a90cc 0%, #4a90cc 30%, #285e8e 31.1%, #3276b1 31.2%, #3276b1 100%);
    border-color: #285e8e;
    color: white !important;
    outline: 0 none; }
  .btn-calltoaction .price {
    margin-right: 40px; }
    .btn-calltoaction .price small {
      font-size: 60%;
      display: block;
      margin-bottom: -4px;
      margin-top: 3px; }
    .btn-calltoaction .price strong {
      font-size: 145%; }
  .btn-calltoaction .title {
    margin-top: -3px; }
    .btn-calltoaction .title strong {
      font-size: 110%; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 22px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #3da819;
  color: white; }

.navbar-default {
  background-color: inherit;
  border: 0; }
  .navbar-default .navbar-brand {
    padding-top: 10px; }
  .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:visited {
    font-family: "Bevan", cursive;
    text-transform: uppercase;
    color: #3da819;
    font-size: 40px;
    line-height: 40px; }

.nav-tabs > li > a {
  text-transform: uppercase;
  font-size: 140%;
  line-height: 140%;
  padding-left: 40px;
  padding-right: 40px; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #3da819;
  color: white; }

.container .jumbotron {
  padding-left: 0;
  padding-right: 0; }

.jumbotron {
  background-color: inherit;
  color: white;
  position: relative;
  top: 160px;
  left: 40px; }
  .jumbotron .smaller {
    font-size: 80%;
    line-height: 80%; }
  .jumbotron .even-smaller {
    font-size: 60%;
    line-height: 60%; }

h1, h2, h3, h4, h5 {
  color: #3da819; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    text-decoration: none; }

footer {
  background-color: #f9f9f9;
  padding-top: 45px;
  margin-top: 45px; }
  footer h3 {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px; }
  footer .post {
    margin-top: 15px; }
    footer .post h4 {
      margin-bottom: 5px; }
    footer .post p {
      margin-bottom: 5px; }

.post .links {
  text-transform: uppercase;
  color: #3da819; }

a, a:hover, a:visited, a:focus {
  color: #3da819; }

.marketing {
  text-transform: uppercase;
  color: #3da819;
  font-size: 180%;
  line-height: 180%; }
  .marketing .list-inline > li {
    padding-left: 15px;
    padding-right: 15px; }

.nav-tabs {
  border-bottom: 2px solid white; }

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  background-color: #f6f6f6;
  border: 2px solid white; }

.table th {
  text-align: center; }
.table td {
  text-align: center;
  vertical-align: middle; }
.table tr td:first-child {
  text-align: right;
  vertical-align: top;
  padding: 0 4px 8px 8px;
  font-weight: 300;
  font-size: 12px; }
.table td.withcontent {
  padding: 2px;
  font-size: 20px; }

.about h3 {
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc; }
.about p {
  margin: 15px 0 30px 0; }

.iframe-rwd {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.blog .posts .row > .col-lg-12 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cccccc; }

.post .thumbnail {
  border: 0; }
  .post .thumbnail img {
    height: 100px; }
  .post .thumbnail .caption {
    text-align: center; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  border-color: #3da819;
  background-color: #3da819; }

.speaker {
  margin-top: 40px; }
  .speaker h2 {
    margin-top: 0; }
  .speaker img {
    max-width: 100%; }

.row.speakers .speaker_hp {
  padding-left: 0; }
  .row.speakers .speaker_hp .thumbnail {
    padding: 0;
    border: 0; }
  .row.speakers .speaker_hp img {
    width: 250px; }

.price-list.table tr td {
  padding: 20px; }

@media screen and (min-width: 1000px) {
  .navbar {
    margin-bottom: 0;
    min-height: 0;
    height: 0; }
    .navbar .container {
      position: relative;
      top: 20px; } }
@media screen and (max-width: 1199px) {
  .jumbotron {
    left: 0; } }
@media screen and (max-width: 999px) {
  .jumbotron {
    top: 20px; }

  header {
    background-position: center bottom;
    height: 380px; }

  .navbar {
    margin-bottom: 0;
    background-color: #dff3fe; }

  .navbar-header {
    text-align: center; }

  .navbar-brand {
    float: none;
    margin: 10px 0;
    display: block;
    height: auto; }

  .navbar-default .navbar-brand {
    padding: 15px;
    margin: 0;
    margin-bottom: 0; }

  .navbar-default .navbar-nav > li > a {
    color: #3da819; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: white;
      text-align: center;
      background-color: #3da819;
      transition: background-color 0.1s ease-in-out 0s; }

  nav {
    padding: 0;
    margin: 0; }

  .nav-list {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-left: 0; }
    .nav-list li {
      width: 100%;
      padding: 0.5em;
      color: transparent;
      transition: background-color 0.3s ease-in-out 0s; }
      .nav-list li:first-child a {
        border-top: 0; }
    .nav-list a {
      display: block;
      margin: 0 !important;
      padding: 0.4em 0 !important;
      width: 100%;
      color: white;
      text-align: center; } }
@media screen and (max-width: 767px) {
  .jumbotron {
    top: 100px; }

  .marketing ul > li {
    width: 100%; }

  .timetable .nav-tabs > li > a {
    padding-left: 10px;
    padding-right: 10px; } }
