<table class="table table-bordered">
  <tbody>
    <tr>
      <td>8h00</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>8h30</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>9h00</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>9h30</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>10h00</td>
      <td rowspan="2" colspan="2">
        Welcome to Geeks on a Farm!
        <br/>
        <em class="text-muted">Welcome package distribution, room assignment, etc.</em>
      </td>
    </tr>
    <tr>
      <td>10h30</td>
    </tr>
    <tr>
      <td>11h00</td>
      <td colspan="2">Welcome speech</td>
    </tr>
    <tr>
      <td>11h30</td>
      <td rowspan="2" colspan="2">
        Icebreakers and Networking Games
      </td>
    </tr>
    <tr>
      <td>12h00</td>
    </tr>
    <tr>
      <td>12h30</td>
      <td rowspan="2" colspan="2"><i class="fa fa-cutlery"></i> Lunch</td>
    </tr>
    <tr>
      <td>13h00</td>
    </tr>
    <tr>
      <td>13h30</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>14h00</td>
      <td rowspan="2" colspan="2">
        <i class="fa fa-bullhorn"></i> Keynote Speaker
        <br/>
        <em class="text-muted">To be announced soon... Surprise!</em>
      </td>
    </tr>
    <tr>
      <td>14h30</td>
    </tr>
    <tr>
      <td>15h00</td>
      <td rowspan="2" colspan="2">
        <i class="fa fa-comments" title="panel discussion"></i> How is the startup scene in Berlin/Paris?
        <br/>
        {% assign item = 'Markus Schranner' %}
        {% include speaker.html %}
        {% assign item = 'Willy Braun' %}
        {% include speaker.html %}
        {% assign item = 'Guido Hegener' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>15h30</td>
    </tr>
    <tr>
      <td>16h00</td>
      <td colspan="2"><i class="fa fa-coffee"></i> Coffee break</td>
    </tr>
    <tr>
      <td>16h30</td>
      <td rowspan="3" colspan="2">
        <i class="fa fa-briefcase" title="Workshop"></i> Blue Ocean Strategy
        <br/>
        {% assign item = 'Florence Remy' %}
        {% include speaker.html %}
      </td>
    </tr>
    <tr>
      <td>17h00</td>
    </tr>
    <tr>
      <td>17h30</td>
    </tr>
    <tr>
      <td>18h00</td>
      <td rowspan="4" colspan="2">Break</td>
    </tr>
    <tr>
      <td>18h30</td>
    </tr>
    <tr>
      <td>19h00</td>
    </tr>
    <tr>
      <td>19h30</td>
    </tr>
    <tr>
      <td>20h00</td>
      <td rowspan="3" colspan="2"><i class="fa fa-cutlery"></i> BBQ</td>
    </tr>
    <tr>
      <td>20h30</td>
    </tr>
    <tr>
      <td>21h00</td>
    </tr>
    <tr>
      <td>21h30</td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>22h00</td>
      <td rowspan="4" colspan="2">Night activities TBD</td>
    </tr>
    <tr>
      <td>22h30</td>
    </tr>
    <tr>
      <td>23h00</td>
    </tr>
    <tr>
      <td>00h00</td>
    </tr>
  </tbody>
</table>
